<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Michael Nhu Shoemake</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="~/images/icons/header/mns_small2.png" />
    <script src="https://code.jquery.com/jquery-3.5.0.js"
            integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
            crossorigin="anonymous"></script>

    <script>
        function initSlideshow() {
            var elems = document.getElementsByClassName('banner-carousel');

            for (let i = 0; i < elems.length; i++) {
                let timeinterval = 10;
                let spaceinterval = 1;
                let max;
                let firstrun = true;
                let timer = null;
                let gallery = function () {
                    if (firstrun) {
                        max = elems[i].scrollWidth;
                        while (elems[i].scrollWidth < max * 2) {
                            var length = elems[i].children.length;
                            for (let j = 0; j < length; j++) {
                                elems[i].appendChild(elems[i].children[j].cloneNode(true));
                            }
                            break;
                        }
                        firstrun = false;
                    }
                    if (elems[i].scrollLeft >= max) {
                        elems[i].scrollLeft -= max;
                    }
                    else {
                        elems[i].scrollLeft += spaceinterval;
                    }
                };
                function startInterval() {
                    var speed = $(elems[i]).attr('data-speed');
                    timer = setInterval(gallery, speed)
                }
                startInterval();
            }
        }

        ;
    </script>
</head>
<body onload="initSlideshow();">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-lg border-bottom mb-auto">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Home">Michael Nhu Shoemake</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Work">Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Resume">Résumé</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Bio">Bio</a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav id="soc_media_icons" class="nav navbar-nav navbar-right navbar-expand-sm">
                <ul class="nav navbar-nav navbar-right navbar-expand-sm">
                    <li class="nav-item">
                        <a href="https://www.linkedin.com/in/michael-nhu-shoemake-0b3a8679/">
                            <img src="~/images/icons/header/linkedin_icon_white.png" height="30" width="30" alt="LinkedIn Profile" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.github.com/mnshoemake/">
                            <img src="~/images/icons/header/github_icon_white2.png" height="30" width="30" alt="GitHub Profile" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com/mnshoemake">
                            <img src="~/images/icons/header/twitter_icon_white.png" alt="Twitter Profile" height="30" width="30" />
                        </a>
                    </li>
                </ul>
            </nav>
        </nav>
    </header>
    <hr class="header_rule">
    <h1 align="center">@ViewData["Title"] @ViewData["altTitle"]</h1>
    <div class="flex-fill softrule" id="siteDescription">
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer text-center">
        <p>BY ©MICHAEL NHU SHOEMAKE, 2020</p>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
